{% extends 'users/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}

    <h3>Your Comment </h3>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ entity.createdby }}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ entity.updatedby }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{{ entity.dateupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('comment') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('comment_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
