{% extends 'users/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Rate</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Monthlyrate</th>
                <td>{{ entity.monthlyRate }}</td>
            </tr>
            <tr>
                <th>Hourlyrate</th>
                <td>{{ entity.hourlyRate }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ entity.updatedBy }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('rate') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('rate_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
