{% extends 'users/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <a href="{{ path('department_new') }}" class="btn btn-lg btn-default"><i class="fa fa-plus"></i>Add New Department</a>
    <h3>Departments</h3>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Department</th>
                    <th>Description</th>
                    <th>Createdby</th>
                    <th>Updatedby</th>
                    <th>Dateupdated</th>
                    <th>Datecreated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('department_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.department }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.createdby }}</td>
                    <td>{{ entity.updatedby }}</td>
                    <td>{% if entity.dateupdated %}{{ entity.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.datecreated %}{{ entity.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <div class="item-actions">
                            <a href="{{ path('department_show', { 'id': entity.id})}}" class="btn btn-sm btn-danger">Show</a>
                            <a href="{{ path('department_edit', { 'id': entity.id})}}" class="btn btn-sm btn-default">Edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>  
{% endblock %}
